body {
  font-family: 'Roboto', Arial;
}

.alert {
  width: 50%;
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 12px;
  font-size: 16px;
}


.alert.alert-success {
  background-color: rgb(166, 245, 189);
  border-color: rgb(2, 2, 2);
  color: rgb(24, 26, 24);
}

.alert.alert-info {
  background-color: rgba(217, 237, 247, 1);
  color: rgb(24, 25, 26);
  border-color: rgb(13, 13, 14);
}


.alert.alert-warning {
  background-color: rgba(252, 248, 227, 1);
  border-color: rgb(14, 14, 13);
  color: rgb(12, 12, 11);
}

.alert.alert-danger {
  background-color: rgb(230, 157, 163);
  border-color: rgb(19, 18, 18);
  color: rgb(17, 16, 16);
}

.alert.alert-primary {
  background-color: rgb(160, 235, 235);
  border-color: rgb(26, 25, 23);
  color: rgb(20, 20, 18);
}