.nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    background-color: rgb(221, 208, 208);
}

.nav-lists {
    float: left;
}

.navigation {
    display: block;
    color: rgb(26, 24, 24);
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
}

body {
    background-color: #EFF6FF;
}